---
interface Props {
  title: string;
  isHome?: boolean;
}

import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import Section from "../components/Section.astro";
import { description, siteTitle } from "../siteData";
import "../scss/style.scss";
import madeWithMacos from "../images/made-with-macos.png";
import HeaderComment from "../components/HeaderComment.astro";

const { title, isHome = false } = Astro.props;
---

<!-- <HeaderComment /> --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    {/* Fonts */}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a id="top"></a>
    <Header isHome={isHome} />
    <main>
      <slot />
    </main>
    <footer class="footer">
      <Section center>
        <!-- lol, yeah. that's some inline javascript. 😆 -->
        <p class="text-small text-center">
          &copy; <script>
            document.write(`${new Date().getFullYear()}`);
          </script> Andrew Meyer
        </p>
        <p class="text-center">
          <Image src={madeWithMacos} alt="Made with MacOS" />
        </p>
      </Section>
    </footer>
  </body>
</html>
